node_modules
dist
storage/jobs/*
!storage/jobs/.gitkeep
storage/auth.json
storage/*.db*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
scratch/
typescript
run-playwright-suite.*
